<aside class="col-4 blog-sidebar">
  <div class="p-3 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">This Blog page will be my platform to communicate to viewers, as well as showcase my application's capabilities and functionality.</p>
  </div>


  <div class="p-3">
    <h4 class="font-italic">Find me Elsewhere</h4>
      <a href="https://github.com/jrl508/devcamp_porfolio"><%= fa_icon "github-alt 2x" %></a>
      <a href="https://twitter.com/That_Guy_Ricky"><%= fa_icon "twitter 2x" %></a>
      <a href="https://www.facebook.com/ricardo.lafontant.1"><%= fa_icon "facebook-f 2x" %></a>
      <a href="https://www.instagram.com/that_guy_ricky/"><%= fa_icon "instagram 2x" %></a>
    
  </div>
</aside>