
<h1 class="text-center">About Me</h1>

<hr>
<div class="row">
    <div class="col-md-4">
        <%= image_tag "merry-xmas.jpg", width:250, alt:"profile_image" %>
    </div>

    <div class="col-md-8">
        <p>
        I started my education in mechanical engineering but my interests diverged into software development so I began my education into full stack outside of the university. With many resources being open source, I believe the development community has a personality that is key to reviving the educational system.
        </p>
    </div>
</div>
