

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h3><u> Address </u></h3>
			<p> 2400 Springdale blvd, P211,Palm Springs, FL 33461</p>

			<h3><u> Phone </u></h3>
			<p> 508-649-8350 </p>

			<h3><u> Email </u></h3>
			<p><a href="mailto:jrl47@yahoo.com?subject=PortfolioContact" "jrl47@yahoo.com"> jrl47@yahoo.com</a></p>

			 
			<h3><u>Social Media</u></h3>

			<a href="https://github.com/jrl508/devcamp_porfolio"><%= fa_icon "github-alt 2x" %></a>
			<a href="https://twitter.com/That_Guy_Ricky"><%= fa_icon "twitter 2x" %></a>
			<a href="https://www.facebook.com/ricardo.lafontant.1"><%= fa_icon "facebook-f 2x" %></a>
			<a href="https://www.instagram.com/that_guy_ricky/"><%= fa_icon "instagram 2x" %></a>
		</div>

		<div class="col-md-7">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3566.120582780984!2d-80.10602758496076!3d26.64462138324372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d92806ad5efc9d%3A0xad229bca065c6dfe!2s2400+Springdale+Blvd%2C+Palm+Springs%2C+FL+33461!5e0!3m2!1sen!2sus!4v1524083249352" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>