<main role="main" class="inner cover text-center">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my prototype portfolio, in time I aim to incorporate a wide variety of projects to showcase my abilities and advance my professional career.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

